<manifest package="com.htl_donaustadt.andi.smssenior_keyboard"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="5"
          android:versionName="1.0.1"
    >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service
            android:name=".KeyboardService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">      <!-- Name that get displayed in the "Language and Input" Settings  -->


            <meta-data
                android:name="android.view.im"
                android:resource="@xml/inputmethod"/> <!-- Definition of the InputMethod-->

            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>

        </service>

    </application>

</manifest>
